.clock-container{
	backdrop-filter: blur(5px);
	padding: 10px 0;
}

.clock{
	color: hsl(0, 0%, 100%);
	font-size: 6rem;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	text-shadow: hsl(0, 2%, 9%) 0 0 10px;
}
